* {

    margin: 0;
    padding: 0;

}

body {

    background: linear-gradient(to right bottom, #E6E6E6, #C9CDD0);
    background-repeat: no-repeat;
    height: 100vh;

}

header {

    /* background-color: black; */
    background-color: darkslategrey;
    color: white;
    padding: 50px;

}

a {

    text-decoration: none;

}

.col {

    border: 1px solid black;
    padding: 10px;
    margin: 50px 0;

}

.col input {

    width: 100%;

}

.page-title {

    background-color: black;
    color: white;

}

.page-title h1 {

    margin: 0;
    padding: 0;

}

.about-text {

    text-align: justify;
    
}


footer {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75rem;
    text-align: right;
    /* margin: 50px 0 0 0; */

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: darkslategrey;
    color: white;
    padding: 25px;

}

footer p {

    margin: 0;
    padding: 0;

}

.errors {

    text-align: center;
    color: red;

}

span {

    font-weight: bold;

}

.text-color {

    color: red;

}

.box {

    box-shadow: 3px 4px 5px grey;

}



form input {

    padding: 0 10px;
    font-family: "Source Code Pro";
    
}

.action-buttons {

    text-align: right;

}




@media screen and (max-width: 375px) {

    .my-title {
        font-size: 1rem;
    }

}