* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right bottom, #E6E6E6, #C9CDD0);
    background-repeat: no-repeat;
    /* height: 100vh; */

}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

header a {
    color: white;
}

a {
    text-decoration: none;
}



.col {
    border: 1px solid black;
    margin: 50px 0;
}

.col input {
    width: 100%;
}

.page-title {
    background-color: black;
    color: white;
}

.page-title h1 {
    margin: 0;
    padding: 0;
}

.xhero-img {
    border: 1px solid red;
}

.xhero-text {
    margin: 100px 0;
    border: 1px solid black;
}


footer {
    /* margin: 100px 0; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .75rem;
    text-align: right;
}

@media screen and (max-width: 375px) {
    #home-tagline {
        xdisplay: none;
        /* font-size: .50rem; */
    }

    .my-title {
        font-size: 1rem;
    }
}