* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right bottom, #E6E6E6, #C9CDD0);
    background-repeat: no-repeat;
    height: 100vh;

}

header {
    background-color: black;
    color: white;
    padding: 50px;
}

header a {
    color: white;
}

a {
    text-decoration: none;
}

.row {
    border: 1px solid black;
    margin: 50px 0;
}